<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoepsi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoepsi"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sn2app"
        tools:targetApi="31">
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.Sn2app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductDetailsScreen"
            android:exported="false"
            android:label="@string/title_activity_product_details_screen"
            android:theme="@style/Theme.Sn2app" />
        <activity
            android:name=".CategoryProductsScreen"
            android:exported="false"
            android:label="@string/title_activity_category_products_screen"
            android:theme="@style/Theme.Sn2app" />
        <activity
            android:name=".ProductCategoryScreen"
            android:exported="false"
            android:label="@string/title_activity_product_category_screen"
            android:theme="@style/Theme.Sn2app" />
        <activity
            android:name=".ProductsScreen"
            android:exported="false"
            android:label="@string/title_activity_products_screen"
            android:theme="@style/Theme.Sn2app" />
        <activity
            android:name=".ProductRepository"
            android:exported="false"
            android:label="@string/title_activity_product_repository"
            android:theme="@style/Theme.Sn2app" />
        <activity
            android:name=".model.Product"
            android:exported="false"
            android:label="@string/title_activity_product"
            android:theme="@style/Theme.Sn2app" />
        <activity
            android:name=".model.Category"
            android:exported="false"
            android:label="@string/title_activity_category"
            android:theme="@style/Theme.Sn2app" />
        <activity
            android:name=".PersonPage"
            android:exported="false"
            android:label="@string/title_activity_person_page"
            android:theme="@style/Theme.Sn2app" />
        <activity
            android:name=".InfoScreen"
            android:exported="false"
            android:label="@string/title_activity_info_screen"
            android:theme="@style/Theme.Sn2app" />
        <activity
            android:name=".HomeScreen"
            android:exported="false"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.Sn2app" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Sn2app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>